@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "my_font";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "my_font";
  outline: none;
}

html {
  font-family: "my_font";
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  font-family: "微軟正黑體";
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #d6020b;
}
html body {
  min-width: 1100px;
  height: auto;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}
html body main .center {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}
html body main .center .left {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main .center .left .mainObject {
  width: 1221px;
  height: 949px;
  background: url(../img/mainObject.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 11px;
  left: -410px;
  -webkit-animation: invisible 0.2s ease-in-out, zoomIn 0.2s 0.2s ease-in forwards;
          animation: invisible 0.2s ease-in-out, zoomIn 0.2s 0.2s ease-in forwards;
}
html body main .center .right {
  width: 50%;
  height: 100%;
  position: relative;
}
html body main .center .right .logo {
  width: 378px;
  height: 173px;
  background: url(../img/LOGO.png) no-repeat center;
  background-size: contain;
  z-index: 100;
  position: absolute;
  top: 44px;
  right: 63px;
}
html body main .center .right .inputBox {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 260px;
  right: 25px;
  z-index: 100;
}
html body main .center .right .inputBox .input {
  width: auto;
}
html body main .center .right .inputBox .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 20px 10px;
  position: relative;
}
html body main .center .right .inputBox .input label input {
  width: 325px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #1ae2ff;
  border-radius: 5px;
  color: #000000;
  font-size: 25px;
  padding: 4px 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.35);
  position: relative;
}
html body main .center .right .inputBox .input label input:focus {
  border: 2px solid #1ae2ff;
}
html body main .center .right .inputBox .input label input::-webkit-input-placeholder {
  color: #313131;
  font-size: 25px;
}
html body main .center .right .inputBox .input label input::-moz-placeholder {
  color: #313131;
  font-size: 25px;
}
html body main .center .right .inputBox .input label input:-ms-input-placeholder {
  color: #313131;
  font-size: 25px;
}
html body main .center .right .inputBox .input label input::-ms-input-placeholder {
  color: #313131;
  font-size: 25px;
}
html body main .center .right .inputBox .input label input::placeholder {
  color: #313131;
  font-size: 25px;
}
html body main .center .right .inputBox .input label:last-child {
  margin: 0 24px 0 10px;
}
html body main .center .right .inputBox button {
  width: 145px;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #018aff), to(#35e5ff));
  background: linear-gradient(to bottom, #018aff 17%, #35e5ff 100%);
  border: 2px solid #55ffe5;
  border-radius: 8px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
html body main .center .right .inputBox button:hover, html body main .center .right .inputBox button:active, html body main .center .right .inputBox button.active {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #026bc7), to(#35e5ff));
  background: linear-gradient(to top, #026bc7 17%, #35e5ff 100%);
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
html body main .center .right .unionLogo {
  width: 266px;
  height: 47px;
  background: url(../img/union.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 423px;
  right: 21px;
  z-index: 100;
}
html body main .light01 {
  width: 610px;
  height: 465px;
  background: url(../img/light01.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-animation: zoomIn 0.2s 0.15s ease-in-out forwards;
          animation: zoomIn 0.2s 0.15s ease-in-out forwards;
}
html body main .smoke {
  width: 365px;
  height: 311px;
  background: url(../img/smoke_R.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: -2;
}
html body main .light02 {
  width: 692px;
  height: 549px;
  background: url(../img/light02.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 0px;
  right: -1px;
  z-index: -2;
  -webkit-animation: zoomIn 0.2s 0.15s ease-in-out forwards;
          animation: zoomIn 0.2s 0.15s ease-in-out forwards;
}
html body main .bgItem {
  width: 1479px;
  height: 427px;
  background: url(../img/BGitem.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 576px;
  left: 234px;
  z-index: -3;
}
html body main .bg {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  background: url(../img/BG.png) no-repeat top center;
  position: absolute;
  top: 0;
  z-index: -999;
}

@-webkit-keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}