html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "my_font";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "my_font";
    outline: none;
}
html {
    font-family: "my_font";
    background: white;
    box-sizing: border-box;
    font: inherit;
    font-family: "微軟正黑體";
    margin: 0px auto;
    // user-select: none;
}
a:link {
    text-decoration: none;
}

//content
html {
    width: 100%;
    height: 100%;
    background-color: #d6020b;
    
    body {
        min-width: 1100px;
        height: auto;
        overflow: hidden;

        main {
            width: 100%;
            height: 1000px;
            overflow: hidden;
            position: relative;

            .center {
                width: 1100px;
                height: 100%;
                display: flex;
                margin: 0 auto;
                position: relative;

                .left {
                    width: 50%;
                    height: 100%;
                    position: relative;
    
                    .mainObject {
                        width: 1221px;
                        height: 949px;
                        background: url(../img/mainObject.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 11px;
                        left: -410px;
                        animation:invisible 0.2s ease-in-out, zoomIn 0.2s 0.2s ease-in forwards;
                    }
                }

                .right {
                    width: 50%;
                    height: 100%;
                    position: relative;
    
                    .logo {
                        width: 378px;
                        height: 173px;
                        background: url(../img/LOGO.png) no-repeat center;
                        background-size: contain;
                        z-index: 100;
                        position: absolute;
                        top: 44px;
                        right: 63px;
                    }
    
                    .inputBox {
                        width: auto;
                        height: auto;
                        display: flex;
                        position: absolute;
                        top: 260px;
                        right: 25px;
                        z-index: 100;

                        .input {
                            width: auto;
    
                            label {
                                display: flex;
                                align-items: center;
                                margin: 0 24px 20px 10px;
                                position: relative;

                                input {
                                    width: 325px;
                                    height: 47px;
                                    background: #ffffff;
                                    border: 1px solid #1ae2ff;
                                    border-radius: 5px;
                                    color: #000000;
                                    font-size: 25px;
                                    padding: 4px 16px 0;
                                    box-sizing: border-box;
                                    box-shadow: inset 0px 3px 7px rgb(0, 0, 0, 35%);
                                    position: relative;

                                    &:focus {
                                        border: 2px solid #1ae2ff;
                                    }

                                    &::placeholder {
                                        color: #313131;
                                        font-size: 25px;
                                    }
                                }
    
                                &:last-child {
                                    margin:  0 24px 0 10px;
                                }

                            }
                        }
    
                        button {
                            width: 145px;
                            height: auto;
                            background: linear-gradient(to bottom, #018aff 17%, #35e5ff 100%);
                            border: 2px solid #55ffe5;
                            border-radius: 8px;
                            color: #000000;
                            font-size: 30px;
                            font-weight: bold;
                            position: relative;

                            &:hover,&:active,&.active {
                                background: linear-gradient(to top, #026bc7 17%, #35e5ff 100%);
                                color: #ffffff;
                                box-shadow: 2px 2px 8px rgb(0, 0, 0, 40%);
                                transition: 0.1s;
                            }
                        }
                    }
    
                    .unionLogo {
                        width: 266px;
                        height: 47px;
                        background: url(../img/union.png) no-repeat center;
                        background-size: contain;
                        position: absolute;
                        top: 423px;
                        right: 21px;
                        z-index: 100;
                    }
                }
                
               
            }

            .light01 {
                width: 610px;
                height: 465px;
                background: url(../img/light01.png) no-repeat center;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
                animation: zoomIn 0.2s 0.15s ease-in-out forwards;
            }

            .smoke {
                width: 365px;
                height: 311px;
                background: url(../img/smoke_R.png) no-repeat center;
                background-size: contain;
                position: absolute;
                top: 0;
                right: -10px;
                z-index: -2;
            }

            .light02 {
                width: 692px;
                height: 549px;
                background: url(../img/light02.png) no-repeat center;
                background-size: contain;
                position: absolute;
                bottom: 0px;
                right: -1px;
                z-index: -2;
                animation: zoomIn 0.2s 0.15s ease-in-out forwards;
            }

            .bgItem {
                width: 1479px;
                height: 427px;
                background: url(../img/BGitem.png) no-repeat center;
                background-size: contain;
                position: absolute;
                top: 576px;
                left: 234px;
                z-index: -3;
            }

            //背景
            .bg {
                width: 100%;
                min-width: 1100px;
                height: 100%;
                background: url(../img/BG.png) no-repeat top center;
                position: absolute;
                top: 0;
                z-index: -999;
            }
        }
    }
}
@keyframes invisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
